@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: var(--font-inter);
  --font-display: var(--font-space-grotesk);
}

body {
  font-family: var(--font-sans);
}

.font-display {
  font-family: var(--font-display);
}
